.title {
  color: blue;
}
span {
  font-size: 30px;
}
.left {
  float: left;
  width: 20%;
  border: black solid 5px;
}
.right {
  float: right;
  width: 200px;
}

div {
  border: crimson solid 5px;
  margin: 20px 15px 20px 15px;
  padding: 40px;
}
